# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production
server/.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
