@import "tailwindcss";

@theme {
  --color-primary: #6C63FF;
  --color-secondary: #F5F5F5;
  --color-accent: #FF6584;
}

body {
  background-color: var(--color-secondary);
  color: #1f2937;
  font-family: 'Inter', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
